body{
    background-color: bisque;
    flex-direction: column;
    display: flex;
   align-items: center;
    margin: 0;
}

header{
    width: 100%;
    text-align: center;
    background-color: beige;
}

header h1{
    margin-bottom: 2px;
}

header hr{
    margin: 0;
}

form{
    width: max-content;
    padding: 1em 2em;    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    gap: 1em;
    background-color: antiquewhite;
}

form div{
    display: flex;
    gap: 5px;
}